@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap");
html {    
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
}
  /* 
  .purple-back{
    padding: 230px 38%;
    position: absolute;
    background-color: hsl(276, 69%, 57%);
    z-index: -1;
    left: -25%;
    top: 0px;
    border-bottom-right-radius: 75%;
  } */
body {
	font-family: "Rubik", sans-serif;
	font-size: 16px;
	height: 120vh;
	position: relative;
	display: flex;
	overflow-x: hidden;
    background-color: hsl(270, 20%, 96%);
}
.purple-back{
    position: absolute;
    top: 0;
    left: -200px;
    height: 480px;
    width: 100%;
    max-width: 600px;
    z-index: -1;
    border-radius: 0 0 350px 350px;
    background: linear-gradient(to bottom,hsl(276, 69%, 57%),hsl(276, 69%, 57%));
}
.chat{
    position: relative;
    top: 60px;
    margin: auto;
    max-width: 63%; /*225px; */
    height: 45%;/*430px;*/ 
    background-color: hsl(270, 20%, 96%);
    font-size: 8px;
    border:10px solid white;
    border-radius: 32px;
    box-shadow: 30px 45px 50px 6px rgba(0,0,0,0.1);
}
.chat__header-block{
    position: absolute;
    padding: 10px;
    background-color: white;
    border-radius: 0px 0px 15px 15px;
    width: 100px;
    height: 9px;
    top: -5px;
    left: 55px;
}
.chat__header{
    position: relative;
    background-image: linear-gradient(to right, hsl(264, 100%, 61%), hsl(293, 100%, 63%));
    width: auto;
    height: 60px;
    border-radius: 4px;
    border-radius: 20px 20px 5px 5px;
    color: white;
}
.attribution {
    position: absolute;
    bottom: -30px;
    font-size: 11px; 
    text-align: center; 
    background-color: hsl(276, 69%, 57%);
    background-image: linear-gradient(to right, hsl(264, 100%, 61%), hsl(293, 100%, 63%));
    color: white;
    font-family: 'Rubik', sans-serif;
}
.attribution a {
    color: white;
}